<p>Enter your university login name and password to connect to NESS</p>
<form method="post">
    UserName: <input type="text" name="user" placeholder="b20xxxxx" />
    Password: <input type="password" name="pass" />
    <input type="submit" value="Login" />
</form>
