.form-signin {
  padding-top: 50px;
  text-align: center;
}

.container-main {
  margin-top: 100px;
}

/* Hover over coursework menu to see options */
html.no-touch #menuCoursework:hover > ul.dropdown-menu {
  display: block;
}
