
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{feedback.title}}</h4>
</div>
<div class="modal-body">
    {{{feedback.comment}}}
</div>
<div class="modal-footer">
    <p>
        <i>{{feedback.marker}}</i>
    </p>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>